MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_RANDOM_ROOT_PASSWORD=yes
MYSQL_USER=tutorial-60-user
MYSQL_PASSWORD=tutorial-60-password
MYSQL_DATABASE=tutorial-60-database



SPRING_APPLICATION_NAME=tutorial-about-java-60

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true

SPRING_DATASOURCE_URL=<specify the value which the following resolves to within a *nix shell: jdbc:mysql://${MYSQL_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}>
SPRING_DATASOURCE_USERNAME=<specify the same value as for MYSQL_USER>
SPRING_DATASOURCE_PASSWORD=<specify the same value as for MYSQL_PASSWORD>

# Liquibase applies this «master» changelog on startup.
# Since it is a «formatted SQL» changelog
# (and since Spring Boot's default look for YAML),
# the path must be set explicitly.
SPRING_LIQUIBASE_CHANGE_LOG=classpath:db/changelog/db.changelog-master.mysql.sql
